
/*
 * Fonts
 */
/* Sen */
@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap');

/* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Dosis */
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;700&display=swap');

/*
 * Base
 */
html,
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

/*
 * Tailwind
 */
@tailwind base;
@tailwind components;
@tailwind utilities;
